<div class="card mt-4">
  <div class="card-body">
    <div class="jumbotron">
      <h1 class="display-4">OOPS!! 404, The Link is broken  </h1>
      <p class="lead">
        You seem to have got lost in the magic of the web.
        <br />
        Although, How you got here is a mystery as the link does not exist in the app.
      </p>
      <hr class="my-4">
      <p>
        Please click on the below button to help us take you in
        right direction.
      </p>


        <p class="lead">
        <a class="btn btn-primary btn-lg" routerLink="/" role="button">Career help Desk</a>
      </p>

    </div>

  </div>
</div>


